{%extends 'base.html'%}

{% block content %}

{%for location in location_image%}
Images in {{location.location}}
<div class="col-md-3 mb-3">

    <!--Card-->
    <div class="card">

        <!--Card image-->
        <div class="view overlay">
            <a data-toggle="modal" data-target="#pic">
                <img src="{{location.image.url}}" class="card-img-top img-responsive styled" alt=" image" width="100px" height="100px">

            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}